<?xml version="1.0" encoding="UTF-8" standalone="no"?><component name="libraryTable"><library name="log4j"><CLASSES><root url="file://$PROJECT_DIR$/../lib/log4j"/></CLASSES><JAVADOC/><SOURCES><root url="file://$PROJECT_DIR$/../lib/log4j"/></SOURCES><jarDirectory recursive="false" url="file://$PROJECT_DIR$/../lib/log4j"/><jarDirectory recursive="false" type="SOURCES" url="file://$PROJECT_DIR$/../lib/log4j"/></library></component>